@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

* {
  box-sizing: border-box;
  font-family: 'Pretendard';
  font-weight: 400;
  line-height: 1.5;
}

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body::before {
  position: fixed;
  top: 0;
  width: 100%;
  height: 0.625rem;
  background: linear-gradient(90deg, #5e5bc1, #ac7be0);
  content: '';
}

.wrapper_all {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  width: 42.5rem;
  margin: 0 auto;
  padding: 0 2.5rem;
}

.title_main {
  margin: 2.5rem 0;
}

.text_hello {
  font-size: 2.5rem;
  font-weight: 700;
}

.text_name {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
}

.period_mark {
  margin-left: -0.1875rem;
  font-size: 1.75rem;
  font-weight: 700;
  color: #ac7be0;
}

.period_mark_small {
  margin-left: -0.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: #ac7be0;
}

.wrapper_img {
  width: 20rem;
  height: 19.75rem;
  margin: 0.75rem 0 3.75rem;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0px 0px 2rem #e4d1f8;
  transition: all 0.2s ease-in-out;
}

.img_profile {
  object-fit: contain;
}

.wrapper_img:hover {
  transform: scale(1.05);
}

.section_interested,
.section_contact,
.section_introduction,
.section_experiences,
.section_projects,
.section_skills,
.section_educations,
.section_activities {
  width: 100%;
  margin-bottom: 2.25rem;
}

.title_interested,
.title_contact,
.title_introduction,
.title_experiences,
.title_projects,
.title_skills,
.title_educations,
.title_activities {
  margin-bottom: 0.75rem;
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: -0.0625rem;
}

.interested_list {
  display: flex;
  flex-flow: wrap row;
  gap: 1rem;
  width: 25rem;
  padding: 0;
  list-style: none;
}

.section_interested::after,
.section_contact::after,
.section_introduction::after,
.section_experiences::after,
.section_projects::after,
.wrapper_project.expanded::after,
.section_skills::after,
.section_activities::after {
  display: block;
  width: 100%;
  height: 0.0625rem;
  margin-top: 2.5rem;
  background: linear-gradient(90deg, #d7d6f8, #f1e3ff);
  content: '';
}

.wrapper_project:last-of-type::after {
  display: none;
}

.section_contact::after {
  margin-top: 1.75rem;
}

.section_introduction::after {
  margin-top: 2.25rem;
}

.contact_type {
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.contact_link {
  display: inline-block;
  margin-bottom: 0.75rem;
  background: linear-gradient(90deg, #4e4bcf, #9a58e0);
  color: transparent;
  -webkit-background-clip: text;
}

.wrapper_content {
  margin-bottom: 0.75rem;
}

.title_feature {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.content_feature {
  margin-bottom: 0.5rem;
  word-break: break-all;
}

.emphasis,
.emphasis_name {
  background: linear-gradient(90deg, #7271d6, #ae75eb);
  color: white;
}

.emphasis_name {
  font-weight: 600;
}

.wrapper_project {
  margin: 1.5rem 0 1.5rem;
}

.wrapper_project.expanded {
  margin-bottom: 2rem;
}

.accordion_panel {
  display: none;
}

.project_title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.project_title::after {
  position: absolute;
  bottom: -12px;
  display: block;
  width: 100%;
  height: 0.0625rem;
  margin-top: 2.5rem;
  background: linear-gradient(90deg, #eae9ff, #f6ecff);
  content: '';
}

.wrapper_project:last-of-type .project_title::after,
.wrapper_project.expanded .project_title::after {
  display: none;
}

.accordian_button {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: center / cover url(../img/icon_down.png) no-repeat;
  cursor: pointer;
}

.wrapper_project.expanded .accordian_button {
  background: center / cover url(../img/icon_up.png) no-repeat;
}

.project_content {
  width: 100%;
}

.project_link {
  display: block;
  margin-bottom: 0.5rem;
}

.link_gradation {
  background: linear-gradient(90deg, #4e4bcf, #9a58e0);
  color: transparent;
  -webkit-background-clip: text;
}

.project_period {
  margin-bottom: 0.5rem;
}

.project_stack {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin: 0.25rem 0.125rem;
  border-radius: 1.25rem;
  background: linear-gradient(90deg, #5e5bc1, #ac7be0);
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 300;
}

.project_abstract,
.project_direction,
.project_features,
.project_procedure,
.project_remind,
.project_contributions,
.project_imgs {
  margin: 1.25rem 0 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.feature,
.project_contribution {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.feature::before,
.project_contribution::before,
.content_experience.description::before,
.content_activity.description::before,
.content_education.description::before {
  display: inline-block;
  content: '';
  width: 0.25rem;
  height: 0.25rem;
  margin-right: 0.75rem;
  border-radius: 50%;
  background: linear-gradient(90deg, #7271d6, #ae75eb);
}

.project_remind + ul {
  display: flex;
  flex-flow: column wrap;
  gap: 4px;
}

figcaption {
  font-size: 0.875rem;
  text-align: center;
}

.img_description {
  margin-bottom: 0.5rem;
}

.wrapper_imgs {
  display: flex;
  flex-flow: row wrap;
  row-gap: 0.75rem;
  column-gap: 1.25rem;
}

.section_skills {
  display: flex;
  flex-flow: column wrap;
  gap: 0.75rem;
}

.wrapper_skill {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 1rem;
}

.wrapper_skill:first-of-type {
  margin-bottom: 2rem;
}

.wrapper_skill:last-of-type ul {
  height: 3.75rem;
}

.title_skill {
  flex-basis: 12.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.detail_skill {
  max-width: 400px;
}

.wrapper_experience,
.wrapper_activity,
.wrapper_education {
  display: flex;
  flex-flow: row nowrap;
  margin: 1rem 0 0.5rem 0;
}

.wrapper_experience > ul,
.wrapper_activity > ul,
.wrapper_education > ul {
  display: flex;
  flex-flow: column wrap;
  gap: 4px;
  height: auto;
}

.wrapper_experience_left,
.wrapper_activity_left,
.wrapper_education_left {
  flex-basis: 12.5rem;
  margin-bottom: 0.5rem;
}

.title_experiences,
.title_activities,
.title_educations {
  margin-bottom: 1.5rem;
}

.title_experience,
.title_activity,
.title_education {
  font-weight: 600;
}

.period_experience,
.period_activity,
.period_education {
  font-size: 0.875rem;
}

.content_experience > ul,
.content_activity > ul,
.content_education > ul {
  margin-top: 4px;
}

.content_experience.description,
.content_activity.description,
.content_education.description {
  display: flex;
  align-items: center;
  margin-left: 0.75rem;
}
